backend/n8n-workflow-paiement.json
{
  "name": "LearnWithUs — Confirmation Paiement Premium",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "learnwithus-paiement",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1111111-c2d3-4e5f-6789-000000000001",
      "name": "Reception Paiement",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "b2111111-c3d4-4e5f-6789-000000000001"
    },
    {
      "parameters": {
        "fromEmail": "contact@learnwithus.fr",
        "toEmail": "={{ $json.body.email }}",
        "subject": "=🎉 Bienvenue dans l'offre Premium — Reçu {{ $json.body.reference }}",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background-color: #6B1F2A; padding: 24px; text-align: center; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: white; margin: 0; font-size: 24px;\">LearnWithUs</h1>\n    <p style=\"color: #F7EEF0; margin: 6px 0 0;\">Formations Numériques</p>\n  </div>\n  <div style=\"background-color: #ffffff; padding: 32px; border: 1px solid #e0e0e0;\">\n    <h2 style=\"color: #6B1F2A; margin-top: 0;\">🎉 Bienvenue dans l'offre Premium !</h2>\n    <p>Bonjour <strong>{{ $json.body.prenom }}</strong>,</p>\n    <p>Votre paiement a bien été validé. Vous avez désormais accès à l'intégralité du contenu Premium : cours approfondis, vidéos, quiz et ressources.</p>\n    <div style=\"background-color: #F7EEF0; padding: 20px; border-radius: 6px; margin: 24px 0; border-left: 4px solid #6B1F2A;\">\n      <p style=\"margin: 0 0 10px; font-weight: bold; color: #6B1F2A;\">📄 Votre reçu</p>\n      <table style=\"width: 100%; border-collapse: collapse; font-size: 14px;\">\n        <tr>\n          <td style=\"padding: 6px 0; color: #6B6B6B;\">Référence</td>\n          <td style=\"padding: 6px 0; text-align: right;\"><strong>{{ $json.body.reference }}</strong></td>\n        </tr>\n        <tr>\n          <td style=\"padding: 6px 0; color: #6B6B6B;\">Offre</td>\n          <td style=\"padding: 6px 0; text-align: right;\">{{ $json.body.formation }}</td>\n        </tr>\n        <tr>\n          <td style=\"padding: 6px 0; color: #6B6B6B;\">Date</td>\n          <td style=\"padding: 6px 0; text-align: right;\">{{ $json.body.date }}</td>\n        </tr>\n        <tr style=\"border-top: 1px solid #e0e0e0;\">\n          <td style=\"padding: 10px 0; font-weight: bold;\">Montant</td>\n          <td style=\"padding: 10px 0; text-align: right; font-weight: bold; color: #6B1F2A; font-size: 16px;\">{{ $json.body.montant }} €</td>\n        </tr>\n      </table>\n    </div>\n    <p style=\"color: #6B6B6B; font-size: 13px; font-style: italic;\">🔒 Aucune donnée bancaire n'est stockée sur nos serveurs (conformité RGPD).</p>\n    <div style=\"text-align: center; margin-top: 28px;\">\n      <a href=\"https://learn-with-us-lac.vercel.app/espace-client.html\"\n         style=\"background-color: #6B1F2A; color: white; padding: 12px 24px; border-radius: 6px; text-decoration: none; font-weight: bold;\">\n        Accéder à mon espace Premium\n      </a>\n    </div>\n    <p style=\"margin-top: 24px;\">Bon apprentissage,</p>\n    <p><strong style=\"color: #6B1F2A;\">L'équipe LearnWithUs</strong></p>\n  </div>\n  <div style=\"background-color: #111111; padding: 16px; text-align: center; border-radius: 0 0 8px 8px;\">\n    <p style=\"color: #aaaaaa; margin: 0; font-size: 12px;\">© 2026 LearnWithUs — contact@learnwithus.fr</p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "b1111111-c2d3-4e5f-6789-000000000002",
      "name": "Recu Client",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "fromEmail": "contact@learnwithus.fr",
        "toEmail": "hi95400@gmail.com, sanjay.mathini@gmail.com, wisstahiri91@gmail.com",
        "subject": "=💰 Nouveau paiement Premium — {{ $json.body.prenom }} {{ $json.body.nom }} ({{ $json.body.montant }} €)",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background-color: #111111; padding: 20px; text-align: center; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: white; margin: 0; font-size: 20px;\">💰 Nouveau paiement Premium</h1>\n  </div>\n  <div style=\"background-color: #ffffff; padding: 28px; border: 1px solid #e0e0e0;\">\n    <h2 style=\"color: #111111; margin-top: 0;\">Client : {{ $json.body.prenom }} {{ $json.body.nom }}</h2>\n    <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 20px;\">\n      <tr style=\"background-color: #F7EEF0;\">\n        <td style=\"padding: 10px 14px; font-weight: bold; border: 1px solid #e0e0e0; width: 35%;\">Email</td>\n        <td style=\"padding: 10px 14px; border: 1px solid #e0e0e0;\"><a href=\"mailto:{{ $json.body.email }}\">{{ $json.body.email }}</a></td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px 14px; font-weight: bold; border: 1px solid #e0e0e0;\">Référence</td>\n        <td style=\"padding: 10px 14px; border: 1px solid #e0e0e0;\"><code>{{ $json.body.reference }}</code></td>\n      </tr>\n      <tr style=\"background-color: #F7EEF0;\">\n        <td style=\"padding: 10px 14px; font-weight: bold; border: 1px solid #e0e0e0;\">Offre</td>\n        <td style=\"padding: 10px 14px; border: 1px solid #e0e0e0;\">{{ $json.body.formation }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px 14px; font-weight: bold; border: 1px solid #e0e0e0;\">Montant</td>\n        <td style=\"padding: 10px 14px; border: 1px solid #e0e0e0;\"><strong style=\"color: #6B1F2A; font-size: 16px;\">{{ $json.body.montant }} €</strong></td>\n      </tr>\n      <tr style=\"background-color: #F7EEF0;\">\n        <td style=\"padding: 10px 14px; font-weight: bold; border: 1px solid #e0e0e0;\">Date</td>\n        <td style=\"padding: 10px 14px; border: 1px solid #e0e0e0;\">{{ $json.body.date }}</td>\n      </tr>\n    </table>\n    <p style=\"color: #6B6B6B; font-size: 13px; font-style: italic;\">La transaction est enregistrée dans la base Notion \"Transactions LearnWithUs\".</p>\n  </div>\n  <div style=\"background-color: #6B1F2A; padding: 12px; text-align: center; border-radius: 0 0 8px 8px;\">\n    <p style=\"color: white; margin: 0; font-size: 12px;\">LearnWithUs — Notification automatique</p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "b1111111-c2d3-4e5f-6789-000000000003",
      "name": "Notif Equipe",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [460, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"succes\": true, \"message\": \"Confirmation envoyee\" }",
        "options": {}
      },
      "id": "b1111111-c2d3-4e5f-6789-000000000004",
      "name": "Repondre au Backend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Reception Paiement": {
      "main": [
        [
          { "node": "Recu Client", "type": "main", "index": 0 },
          { "node": "Notif Equipe", "type": "main", "index": 0 }
        ]
      ]
    },
    "Recu Client": {
      "main": [
        [
          { "node": "Repondre au Backend", "type": "main", "index": 0 }
        ]
      ]
    },
    "Notif Equipe": {
      "main": [
        [
          { "node": "Repondre au Backend", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "LearnWithUs" }]
}
