backend/n8n-workflow-contact.json
{
  "name": "LearnWithUs — Formulaire Contact",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "learnwithus-contact",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f1e2d3c4-b5a6-7890-abcd-ef1111111111",
      "name": "Reception Contact",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "f2e3d4c5-b6a7-8901-bcde-f21111111111"
    },
    {
      "parameters": {
        "fromEmail": "contact@learnwithus.fr",
        "toEmail": "={{ $json.body.email }}",
        "subject": "=📩 Bien reçu — LearnWithUs",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background-color: #6B1F2A; padding: 24px; text-align: center; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: white; margin: 0; font-size: 24px;\">LearnWithUs</h1>\n    <p style=\"color: #F7EEF0; margin: 6px 0 0;\">Formations Numériques</p>\n  </div>\n  <div style=\"background-color: #ffffff; padding: 32px; border: 1px solid #e0e0e0;\">\n    <h2 style=\"color: #6B1F2A; margin-top: 0;\">Nous avons bien reçu votre message</h2>\n    <p>Bonjour <strong>{{ $json.body.prenom }}</strong>,</p>\n    <p>Merci de nous avoir contactés. Notre équipe vous répondra sous 24h en semaine.</p>\n    <div style=\"background-color: #F7EEF0; padding: 16px; border-radius: 6px; margin: 20px 0; border-left: 4px solid #6B1F2A;\">\n      <p style=\"margin: 0 0 8px;\"><strong>Sujet :</strong> {{ $json.body.sujet }}</p>\n      <p style=\"margin: 0;\"><strong>Votre message :</strong></p>\n      <p style=\"margin: 8px 0 0; font-style: italic; color: #6B6B6B;\">{{ $json.body.message }}</p>\n    </div>\n    <p>À très bientôt,</p>\n    <p><strong style=\"color: #6B1F2A;\">L'équipe LearnWithUs</strong></p>\n  </div>\n  <div style=\"background-color: #111111; padding: 16px; text-align: center; border-radius: 0 0 8px 8px;\">\n    <p style=\"color: #aaaaaa; margin: 0; font-size: 12px;\">© 2026 LearnWithUs — contact@learnwithus.fr</p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "c1d2e3f4-a5b6-7890-1234-123456789001",
      "name": "Accuse Reception Etudiant",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [460, 160]
    },
    {
      "parameters": {
        "fromEmail": "contact@learnwithus.fr",
        "toEmail": "hi95400@gmail.com, sanjay.mathini@gmail.com, wisstahiri91@gmail.com",
        "subject": "=📬 Nouveau message contact — {{ $json.body.prenom }} {{ $json.body.nom }}",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background-color: #111111; padding: 20px; text-align: center; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: white; margin: 0; font-size: 20px;\">📬 Nouveau message de contact</h1>\n  </div>\n  <div style=\"background-color: #ffffff; padding: 28px; border: 1px solid #e0e0e0;\">\n    <h2 style=\"color: #111111; margin-top: 0;\">De {{ $json.body.prenom }} {{ $json.body.nom }}</h2>\n    <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 20px;\">\n      <tr style=\"background-color: #F7EEF0;\">\n        <td style=\"padding: 10px 14px; font-weight: bold; border: 1px solid #e0e0e0; width: 30%;\">Email</td>\n        <td style=\"padding: 10px 14px; border: 1px solid #e0e0e0;\"><a href=\"mailto:{{ $json.body.email }}\">{{ $json.body.email }}</a></td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px 14px; font-weight: bold; border: 1px solid #e0e0e0;\">Sujet</td>\n        <td style=\"padding: 10px 14px; border: 1px solid #e0e0e0;\"><strong style=\"color: #6B1F2A;\">{{ $json.body.sujet }}</strong></td>\n      </tr>\n    </table>\n    <h3 style=\"color: #6B1F2A; margin-bottom: 10px;\">Message</h3>\n    <div style=\"background-color: #F7EEF0; padding: 16px; border-radius: 6px; border-left: 4px solid #6B1F2A; white-space: pre-wrap;\">{{ $json.body.message }}</div>\n    <div style=\"text-align: center; margin-top: 24px;\">\n      <a href=\"mailto:{{ $json.body.email }}\"\n         style=\"background-color: #6B1F2A; color: white; padding: 12px 24px; border-radius: 6px; text-decoration: none; font-weight: bold;\">\n        Répondre à {{ $json.body.prenom }}\n      </a>\n    </div>\n  </div>\n  <div style=\"background-color: #6B1F2A; padding: 12px; text-align: center; border-radius: 0 0 8px 8px;\">\n    <p style=\"color: white; margin: 0; font-size: 12px;\">LearnWithUs — Notification automatique</p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "e1f2a3b4-c5d6-7890-1234-123456789002",
      "name": "Email Equipe",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [460, 440]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"succes\": true, \"message\": \"Message transmis a l'equipe\" }",
        "options": {}
      },
      "id": "d1e2f3a4-b5c6-7890-1234-123456789003",
      "name": "Repondre au Backend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Reception Contact": {
      "main": [
        [
          { "node": "Accuse Reception Etudiant", "type": "main", "index": 0 },
          { "node": "Email Equipe", "type": "main", "index": 0 }
        ]
      ]
    },
    "Accuse Reception Etudiant": {
      "main": [
        [
          { "node": "Repondre au Backend", "type": "main", "index": 0 }
        ]
      ]
    },
    "Email Equipe": {
      "main": [
        [
          { "node": "Repondre au Backend", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "LearnWithUs" }]
}
