backend/n8n-workflow-reset-mdp.json
{
  "name": "LearnWithUs — Reset mot de passe",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "learnwithus-reset-mdp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1d2e3f4-a5b6-7890-abcd-ef1234567001",
      "name": "Reception Reset",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "c2d3e4f5-b6a7-8901-bcde-f12345670102"
    },
    {
      "parameters": {
        "fromEmail": "contact@learnwithus.fr",
        "toEmail": "={{ $json.body.email }}",
        "subject": "🔑 Réinitialiser votre mot de passe — LearnWithUs",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background-color: #6B1F2A; padding: 24px; text-align: center; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: white; margin: 0; font-size: 24px;\">LearnWithUs</h1>\n  </div>\n  <div style=\"background-color: #ffffff; padding: 32px; border: 1px solid #e0e0e0;\">\n    <h2 style=\"color: #6B1F2A; margin-top: 0;\">Réinitialisation de votre mot de passe</h2>\n    <p>Bonjour <strong>{{ $json.body.prenom }}</strong>,</p>\n    <p>Vous avez demandé à réinitialiser votre mot de passe. Cliquez sur le bouton ci-dessous pour choisir un nouveau mot de passe. Ce lien est valable <strong>15 minutes</strong>.</p>\n    <div style=\"text-align: center; margin: 28px 0;\">\n      <a href=\"{{ $json.body.lien }}\"\n         style=\"background-color: #6B1F2A; color: white; padding: 12px 28px; border-radius: 6px; text-decoration: none; font-weight: bold;\">\n        Choisir un nouveau mot de passe\n      </a>\n    </div>\n    <p style=\"color: #6B6B6B; font-size: 13px;\">Si vous n'êtes pas à l'origine de cette demande, ignorez simplement ce message — votre mot de passe actuel reste inchangé.</p>\n    <p style=\"color: #6B6B6B; font-size: 12px; word-break: break-all;\">Si le bouton ne fonctionne pas, copiez-collez ce lien :<br>{{ $json.body.lien }}</p>\n  </div>\n  <div style=\"background-color: #111111; padding: 16px; text-align: center; border-radius: 0 0 8px 8px;\">\n    <p style=\"color: #aaaaaa; margin: 0; font-size: 12px;\">© 2026 LearnWithUs — contact@learnwithus.fr</p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "c1d2e3f4-a5b6-7890-abcd-ef1234567002",
      "name": "Email Reset",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"succes\": true, \"message\": \"Email envoye\" }",
        "options": {}
      },
      "id": "c1d2e3f4-a5b6-7890-abcd-ef1234567003",
      "name": "Repondre au Backend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Reception Reset": {
      "main": [[{ "node": "Email Reset", "type": "main", "index": 0 }]]
    },
    "Email Reset": {
      "main": [[{ "node": "Repondre au Backend", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "LearnWithUs" }]
}
